*.Rproj
*.Rproj.user
*.Rapp.history
*.Rhistory
*.RDataTmp
*.gitignore
*.RData
*.DS_Store
.Rproj.user
targets.csv
controls.csv
rough.R
*.xls
GuideMaker_filter_feature_testing.xls
*.pptx
*.tsv
*.xlsx
*.bed
*.html
40KB_Analyses/
40kb_analyses.R
40kb_analyses.Rmd
40kb_analyses_files/
Sushi_ChIPSeq_pol2.bed.csv
Sushi_ChIPSeq_pol2.bed2.csv
Untitled.R
anno.csv
circlize.R
df.unique_cord.csv
Intervene_results/
ftsZ_CHOPCHOP_GUIDEMAKER.csv
*.Rmd
hg_gap_anno.csv
plot_specific.R
gm_vs_chop_count_withGMFILTER.csv
gm_vs_chop_count.csv
gm40k_bed
hg_gap.csv
